@font-face {
    font-family:'arzhu';
    src:url('https://cdn.jsdelivr.net/gh/hongjinlv/ziyuan/yunhan.ttf'); /* 修改成你的字体 */
    font-display:swap
}
h1#site-title {
    font-family:arzhu
    color:#FFD700
    font-size:1.2em

}
span#subtitle {
    font-family:arzhu
    color:#FFD700
    font-size:3em
}
a#site-name {
    font-family:arzhu!important
}
