@font-face {
    font-family:'arzhu';
    src:url('https://cdn.jsdelivr.net/gh/hongjinlv/ziyuan/yunhan.ttf'); /* 修改成你的字体 */
    font-display:swap
}
@font-face {
  /* font-properties */
  font-family: '喜鹊招牌体';
  src: url('https://dm.nbut.ac.cn/xcoder/%E5%96%9C%E9%B9%8A%E6%8B%9B%E7%89%8C%E4%BD%93(%E7%AE%80%20%E7%B9%81%E4%BD%93).ttf');
}
@font-face {
  /* font-properties */
  font-family: '方正宋体';
    src: url('https://cdn.jsdelivr.net/gh/hongjinlv/ziyuan/FangZhengXinShuSongJianTi-1.ttf');
}

@font-face {
  /* font-properties */
  font-family: '喜鹊聚珍体';
  src: url('https://cdn.jsdelivr.net/gh/hongjinlv/ziyuan/喜鹊聚珍体-regular.ttf');
}

@font-face {
  /* font-properties */
  font-family: '喜鹊万人造字体';
  src: url('https://dm.nbut.ac.cn/xcoder/%E5%96%9C%E9%B9%8A%E4%B8%87%E4%BA%BA%E9%80%A0%E5%AD%97%E4%BD%93.ttf');
}

div#site-info h1#site-title {
    font-family:'喜鹊招牌体';
    font-size:40px;
    color:#FFD700;
}

span#subtitle {
    font-family:'喜鹊招牌体';
    color:#FFD700;
    font-size: 40px;
}


div.author-info__name{
     font-family:'喜鹊聚珍体';
     color:#FFD700;
}
span.site-name {
    font-family:'喜鹊聚珍体';
    font-size: 40px;
    color:#FFD700;
    font-weight:1;
}
div#page-site-info h1#site-title{
    font-family:'喜鹊招牌体';
    color:#FFD700;
    font-size:70px;
}
div.content{
    font-size: 17px;
}
#page-header{
  /* 背景图像不重复 */
  background-repeat: no-repeat;
  /* 背景图像大小 */
  background-size: cover;
}
#chuizhi{
    Writing-mode:tb-rl;
    Text-align:left;
}
