#footer {
    color: #FFD700;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    backdrop-filter: saturate(100%) blur(5px)
}
#footer-wrap {
    /* color: var(--light-grey); */
    color: #FFD700;
}
#footer-wrap a{
    color: #ff4d00;
}
p, li, blockquote,{
      font-family: '喜鹊聚珍体',-apple-system, "Helvetica Neue", Arial, "PingFang SC", "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
      font-size: 24px;
}
h1, h2, h3, h4, h5, h6{
      font-family: '喜鹊招牌体',-apple-system, "Helvetica Neue", Arial, "PingFang SC", "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
      font-weight: normal;
}
article#article-container{
    font-family: '喜鹊聚珍体',-apple-system, "Helvetica Neue", Arial, "PingFang SC", "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    font-size: 24px;
    font-weight: normal;
}
a{
    color: #FFD700; 
    font-size: 17px;
}
span{
    font-size: 17px;
}
div.copyright{
    font-size: 17px;
}

[data-theme="dark"] .aplayer{background:#000;color:#fff}[data-theme="dark"] .aplayer .aplayer-info .aplayer-music .aplayer-author{color:#ddd}[data-theme="dark"] .aplayer .aplayer-list ol li.aplayer-list-light{background:#505050}[data-theme="dark"] .aplayer .aplayer-list ol li .aplayer-list-author{color:#aaa}[data-theme="dark"] .aplayer .aplayer-list ol li .aplayer-list-index{color:#cfcfcf}[data-theme="dark"] .aplayer .aplayer-lrc:after{background:linear-gradient(180deg,hsl(0deg 0% 0% / 0%) 0,hsl(0deg 0% 0% / 80%))}[data-theme="dark"] .aplayer .aplayer-lrc:before{background:linear-gradient(180deg,#000 0,hsl(0deg 0% 0% / 0%))}[data-theme="dark"] .aplayer .aplayer-info .aplayer-controller .aplayer-time .aplayer-icon path{fill:#fff}[data-theme="dark"] .aplayer .aplayer-lrc p{color:#fff}[data-theme="dark"] .aplayer .aplayer-list ol li{border-top:1px solid #2e2e2e}[data-theme="dark"] .aplayer.aplayer-withlist .aplayer-info{border-bottom:1px solid #404040}[data-theme="dark"] .aplayer .aplayer-list ol li:hover{background:#444}.note.default.flat{background:#7771}.note.primary.flat{background:#6f42c111}.note.success.flat{background:#5cb85c11}.note.info.flat{background:#428bca11}.note.warning.flat{background:#f0ad4e11}.note.danger.flat{background:#d9534f11}.note.flat{color:var(--font-color)}.hide-toggle>.hide-button{background:#7772;color:var(--font-color)}.hide-toggle{border:1px solid var(--tab-border-color)}#article-container a.link-card{background:var(--global-bg) !important;box-shadow:0 4px 8px 0 rgb(0 0 0 / 10%) !important;color:var(--font-color) !important}#article-container a.link-card:hover{box-shadow:0 5px 10px 0 rgb(0 0 0 / 40%) !important}#article-container a.link-card p.url{color:var(--font-color) !important}[data-theme=dark] .note{filter:none}[data-theme="dark"] .progress{filter:brightness(.7)}[data-theme="dark"] .CtxtMenu_Menu{background-color:black;color:white}[data-theme="dark"] .CtxtMenu_Info{background-color:#333;color:white}[data-theme="dark"] .CtxtMenu_InfoContent{background-color:#222}
