#footer {
    color: #FFD700;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    backdrop-filter: saturate(100%) blur(5px)
}
#footer-wrap {
    padding: 20px 20px;
    /* color: var(--light-grey); */
    color: #FFD700;
}
#footer-wrap a{
    color: #ff4d00;
}
p, li, blockquote,{
      font-size: 20px;
}
h1, h2, h3, h4, h5, h6{
      font-family: '喜鹊招牌体';
      font-weight: normal;
}
article#article-container{
    font-size: 20px;
}
a{
    color: #FFD700; 
    font-size: 17px;
}
span{
    font-size: 17px;
}

