@font-face {
  font-family: 'xnews-icon' /* project id 210347 */;
  src: url("//at.alicdn.com/t/font_1g2ko97p796yldi.eot");
  src: url("//at.alicdn.com/t/font_1g2ko97p796yldi.eot?#iefix") format('embedded-opentype'), url("//at.alicdn.com/t/font_1g2ko97p796yldi.woff") format('woff'), url("//at.alicdn.com/t/font_1g2ko97p796yldi.ttf") format('truetype'), url("//at.alicdn.com/t/font_1g2ko97p796yldi.svg#iconfont") format('svg');
}
main {
  background: #f7f6f5;
  flex: 2;
  hypens: auto;
  overflow-x: hidden;
  padding: 20px;
  text-align: left;
  word-break: normal;
  word-wrap: break-word;
}
main a.article {
  color: #ff8c00;
}
main a.article:last-of-type article {
  border: none;
}
main a.article:last-of-type article:after {
  background: none;
  border: none;
  box-shadow: none;
  padding-bottom: 20px;
}
main a.article:hover h2 {
  transition: color 0.3s ease;
  color: #fa0;
}
main .post-meta {
  color: #a4a4a4;
  display: inline-block;
  margin: 0;
  font-size: 0.6em;
}
main article.item p,
main article.full p,
main article.item li,
main article.full li,
main article.item blockquote,
main article.full blockquote {
  font-family: '喜鹊聚珍体', -apple-system, "Helvetica Neue", Arial, "PingFang SC", "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
main article.item strong,
main article.full strong {
  font-family: '喜鹊聚珍体', -apple-system, "Helvetica Neue", Arial, "PingFang SC", "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif !important;
}
main article h1,
main article h2,
main article h3,
main article h4,
main article h5,
main article h6,
main article h7 {
  font-family: '喜鹊招牌体', -apple-system, "Helvetica Neue", Arial, "PingFang SC", "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  font-weight: normal;
}
main article blockquote {
  font-family: '喜鹊聚珍体', -apple-system, "Helvetica Neue", Arial, "PingFang SC", "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
main article.item {
  border-bottom: 1px solid rgba(0,0,0,0.15);
  color: #ff8c00;
}
main article.item h2 {
  break-word: normal;
  color: #ff8c00;
  margin-bottom: 16px;
  word-wrap: break-word;
}
main article.item h2 {
  font-size: 2.3em;
  letter-spacing: -1px;
  line-height: 1.2em;
  text-indent: -2px;
}
main article.item p.post-excerpt {
  font-size: 1em;
  margin: 16px 0 0 0;
}
main article.item:after {
  display: block;
  content: '';
  width: 7px;
  height: 7px;
  border: #ddd8d4 1px solid;
  position: relative;
  top: 5px;
  left: 50%;
  margin-left: -5px;
  background: #d6d1cc;
  border-radius: 100%;
  box-shadow: #f7f6f5 0 0 0 5px;
}
main div.pagination {
  margin-top: 20px;
}
main div.pagination > * {
  margin: 0 5px;
}
main div.pagination a {
  color: #ffd073;
}
main div.pagination a:hover {
  transition: color 0.3s ease;
  color: #fa0;
}
main .article-toc {
  box-sizing: border-box;
  max-width: 100%;
  float: right;
  border-radius: 15px;
  border: 1px solid #d3d3d3;
  padding: 2rem;
  margin-left: 20px;
  display: none;
}
main .article-toc ol {
  list-style: none;
  list-style-position: inside;
  padding: 0;
  padding-left: 15px;
}
main footer {
  border-radius: 15px;
  margin-top: 20px;
  text-align: center;
  position: relative;
  padding: 4rem 0;
  border: 1px solid #d3d3d3;
  font-size: 1em;
  line-height: 2.1em;
  color: #8a8a8a;
  background: #ececec;
}
main footer:before {
  clear: both;
}
main footer a {
  color: #ffa333;
  font-weight: 700;
}
main footer .copyright {
  color: #737373;
  font-weight: 500;
}
main footer .intro {
  font-size: 0.7em;
  font-family: '喜鹊聚珍体', -apple-system, "Helvetica Neue", Arial, "PingFang SC", "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
@media (min-width: 720px) {
  body main {
    flex: 2;
    padding: 40px;
  }
  body main article.item {
    padding: 40px;
  }
  body main article.item:after {
    top: 45px;
  }
  body main .article-toc {
    display: block;
  }
}
